<div class="home-container">
    <app-card 
        gameCover="assets/last-us.png"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 249,99"
    >
    </app-card>

    <app-card 
        gameCover="assets/poe.png"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 130,00"
    >
    </app-card>

    <app-card 
        gameCover="assets/god-of-war.png"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 150,00"
    >
    </app-card>

    <app-card 
        gameCover="assets/rdr2.jpg"
        gameLabel="GAME OF YEAR"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 369,99"
    >
    </app-card>
</div>